##### For loops for intaracting with data structures
> Arrays, lists, dictionaries, sets and tuples

In [6]:
_array = [
    [1, 2, 3, 4, 5, 6, 7],
    [8, 9, 10, 11, 12, 13, 14],
    [15, 16, 17, 18, 19, 20, 21],
    [22, 23, 24, 25, 26, 27, 28],
    [29, 30, 31, 1, 2, 3, 4]
]

In [7]:
_hmap = {
    "name" : "John Doe",
    "age" : 25,
    "location" : "Kinoo 87, Gachagi road",
    "Employed" : True,
    "pay" : 250000.65,
    "married" : False
}

In [8]:
week_days = (
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
    "Sunday"
)

week_days[-2]

'Saturday'

#### Getting all weekends 1 being a monday

In [9]:
weekends = []
step = 0
for val in _array:
    weekends.append(val[-2:])

In [10]:
weekends

[[6, 7], [13, 14], [20, 21], [27, 28], [3, 4]]

In [11]:
weekend_map = {
    week_days[-2] : [],
    week_days[-1] : []
}

In [12]:
for weekend in weekends:
    weekend_map["Saturday"].append(weekends[weekends.index(weekend)][0])
    weekend_map["Sunday"].append(weekends[weekends.index(weekend)][-1])

In [13]:
weekend_map

{'Saturday': [6, 13, 20, 27, 3], 'Sunday': [7, 14, 21, 28, 4]}

In [14]:
import pandas as pd
import numpy as np

In [17]:
df = pd.DataFrame(weekend_map)

In [26]:
df.index = [1, 2, 3, 4, 5]

In [33]:
df.index.name = "No_of_weekends"

In [35]:
df

                Saturday  Sunday
No_of_weekends
1                      6       7
2                     13      14
3                     20      21
4                     27      28
5                      3       4